# Ignore build artifacts
target/
node_modules/
public/bundle/
public/hot
dist/
storage/

# Ignore version control
.git/
.gitignore

# Ignore Docker related files
Dockerfile
docker-compose.yml
docker-compose.yml.example
docker-compose.yml.test
build_rs_cov.profraw

# Ignore documentation and scripts
README.md

# Ignore environment files
.env*

# Ignore test files
tests/
test.sh
test-build.sh
tarpaulin-report.html
tarpaulin-report.json

# Ignore VScode files
.vscode/

# Ignore Kilocode files
.kilocode/
.kilocodemodes
